/* Sets the background color for the webpage 9-11-26*/
body {
	background-color: #f2f4f7;
}
/* Sets the font style for all of the elements */
* {
  font-family: sans-serif;
}
/* Styles the header background & centers the heading */
header {
  background-color: mistyrose;
}
/* Sets the font size for paragraphs */
p {
    font-size: 16px;
}
/* Adds spacing below the section titles */
.section-title {
    margin-bottom: 10px;
}
/* Adds spacing inside the information sections */
.info-section {
    padding: 10px;
    background-color: mistyrose;
}
/* Sets the background color for the two sections */
#concerns {
    background-color: mistyrose;
}
#law {
    background-color: mistyrose;
}
/* Styles the section headings */
h2 {
    color: #333333;
}
/* Uses Flexbox to organize the navigation links */
nav {
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .container {
    padding: 15px;
  }
}